{% extends 'main.html' %}
{% load static %}


{% block content %}
<style>

  .ytt thead tr th{
   font-size: 12px !important;
  }
  .ytt tbody tr td {
   font-size: 12px !important;
  }
  .profile-pics {
   float: left; 
   width: 60px; 
   height: 60px; 
   overflow: hidden; 
   border-radius: 150px; 
   margin-right: 15px;

  }
  .profile-pics:hover img {
    width: 120% !important;
    height: 120% !important;
    bottom: auto;
  }
  .img-text {
    width: fit-content;
  }
</style>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">XXI ASR BUXGALTERIYA</h3>
            <h6 class="font-weight-normal mb-0">Mijozlar</span></h6>
          </div>
          <div class="col-12 col-xl-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <a href="{% url 'create-client'%}?type=tanirovka">
                <button class="btn btn-sm btn-light bg-primary" type="button">
                  <i class="ti ti-plus font-weight-bold text-white"></i>
                </button>
              </a>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 grid-margin strech-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              Tanirovka 
            </div>
            <form action="{% url 'tanirovka' %}?filter" method="get">
              <input type="hidden" name="filter" value="true">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Buyurtmachi bo'yicha qidiruv</label>
                    <input type="text" name="name" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="">Avtomobil egasi bo'yicha qidiruv</label>
                    <input type="text" name="owner" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="">Tex pasport raqami bo'yicha qidiruv</label>
                    <input type="text" name="tex_number" class="form-control">
                  </div>

                  
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                    <label for="">JSHSHIR bo'yicha qidiruv</label>
                    <input type="text" name="tin" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="">Telefon raqam holati bo'yicha</label>
                    <select name="phone" class="form-control">
                      <option value="">Barcha</option>
                      <option value="true">Telefon raqami mavjud mijozlar</option>
                      <option value="false">Telefon raqami mavjud bo'lmagan mijozlar</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Ruxsatnoma holati bo'yicha</label>
                    <select name="access" class="form-control">
                      <option value="">Barcha</option>
                      <option value="none">Ruxsatnoma muddati kiritilmagan mijozlar</option>
                      <option value="in_ten_days">Ruxsatnoma muddati tugashiga 10 kun qolgan mijozlar</option>
                      <option value="in_a_month">Ruxsatnoma muddati tugashiga 1 oy qolgan mijozlar</option>
                      <option value="active">Ruxsatnoma muddati uzoq mijozlar</option>
                      <option value="inactive">Ruxsatnoma muddati o'tgan mijozlar</option>
                    </select>
                  </div>
                  
                </div>
              </div>
              <button type="submit" class="btn btn-rounded btn-primary"><i class="fa fa-search"></i>  Aniqlash</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% if pagType == False %}
    <div class="row">
      <div class="col-md-12 grid-margin strech-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Umumiy SMS yuborish</div>
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="">SMS matni</label>
                <textarea name="text" class="form-control" cols="30" rows="10"></textarea>
              </div>
              <button class="btn btn-rounded btn-primary" type="submit"><i class="fa fa-send"></i>  Yuborish</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif%}

    
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><div class="float-left">Tanirovka ro'yxati</div>
            <div class="float-right">
                <button class="btn btn-sm btn-success" id="export_button">Excel</button>
            </div>
            </div>
           <div class="table-responsive">
               <table class="table table-striped ytt" id="tasks">
                   <thead>
                       <tr>
                           <th>#</th>
                           <th>Buyurtmachi</th>
                           <th>Avtomobil egasi</th>
                           <th>JSHSHIR</th>
                           <th>Tex pasport</th>
                           <th>Berilgan sana</th>
                           <th>Ruxsatnoma holati</th>
                           <th>Telefon</th>
                           <th><i class="fa fa-cog"></i></th>
                       </tr>
                   </thead>
                   
                   <tbody>
                     {% for client in clients %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                           <td  style="display: flex; align-items: center ;">
                             {% if client.picture %}
                              <div class="profile-pics">
                                <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="/app{{client.picture.url}}" alt="">
                              </div>
                              <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a href="{% url 'client' client.id %}">{{ client.name|wordwrap:"20"|linebreaksbr }}</a></div>
                              {% else %}

                                <div class="profile-pics">
                                  <img style="width: 100%; height: 100%; border-radius: 0; transition: all 1s;" src="{% static 'profile/profile-default.jpg' %}" alt="">
                                </div>
                                <div class="img-text" style="line-height: 15px; padding-left: 15px;"><a href="{% url 'client' client.id %}">{{ client.name|wordwrap:"20"|linebreaksbr }}</a></div>

                              {% endif %}

                             
                            </td>
                           <td style="line-height: 15px;">{% if client.owner %} {{ client.owner|wordwrap:"15"|linebreaksbr }} {% else %} - {% endif %}</td>
                           <td>{% if client.jshshir %} {{ client.jshshir|wordwrap:"14"|linebreaksbr }} {% else %} - {% endif %}</td>
                           <td>{% if client.tex_number %} {{ client.tex_number }} {{ client.text_series }} {% else %} - {% endif %} {% if client.texpas %} <a href="/app{{client.texpas.url}}" download><i class="fa fa-download text-success"></i></a> {% endif %}</td>
                           <td>{{ client.given_date }}</td>
                           <td class="text-left">
                              {% if client.is_t_expired == 'in_ten_days' %}
                              <div class="btn btn-warning btn-sm">10 kun</div>
                              {% elif client.is_t_expired == 'in_a_month' %}
                                <div class="btn btn-primary btn-sm">30 kun</div>
                              {% elif client.is_t_expired == 'active' %}
                                <div class="btn btn-success btn-sm">Faol</div>
                              {% elif client.is_t_expired == 'inactive' %}
                                <div class="btn btn-danger btn-sm">Muddati tugagan</div>
                              {% else %}
                                <div class="btn btn-secondary btn-sm">Kiritilmagan</div>
                              {% endif %}
                              <br><br>
                              {{client.expiry_date}}
                           </td>
                           <td>{{ client.phone1 }}</td>
                            <td>
                              <a href="{% url 'edit-client' client.id %}"><i class="fa fa-pencil"></i></a>
                              {% if profile.status == 'admin' %} <a href="{% url 'delete-client' client.id %}"><i class="fa fa-trash"></i></a> {% endif %}
                            </td>
                       </tr>
                       {% endfor %}

                   </tbody>
               </table>
           </div>
           {% if pagType %}
          <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
              {% if clients.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{clients.previous_page_number}}">&#10094 Oldingi</a></li>
              {% endif %}
              {% for page in page_range %}
              
              {% if page == clients.number %}
              <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
              {% endif %}
              {% endfor %}

              {% if clients.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{clients.next_page_number}}">Keyingi &#10095</a></li>
              {% endif %}

            </ul>
          </nav>
          {% endif %}
          </div>
          
        </div>
      </div>

      
     
    </div>



  </div>
 
</div>
{% endblock content %}